<main class="bg-slate-950 text-slate-50 px-4 min-h-screen">
  <div class="max-w-5xl mx-auto flex flex-col items-center gap-6 py-20">
    <h1 class="text-5xl font-bold max-w-xl mx-auto text-center">Do You Have What
      It Takes To Be An Admin?</h1>
    <p class="max-w-prose text-center">With great power, comes great
      responsibility! If you think you got what it takes, enter the secret admin
      password below.</p>
    {{#if wrongPassword}}
      <p>Nah, that&apos;s not the right password dawg!</p>
    {{/if}}
    <form
      method="post"
      class="bg-slate-800 p-4 rounded-md flex flex-col gap-4 w-80"
    >
      <div class="flex flex-col gap-2">
        <label
          for="adminpassword"
          class="text-lg font-medium max-w-80"
        >Admin-Only Password:</label>
        <input
          type="text"
          id="adminpassword"
          name="adminpassword"
          class="rounded-md py-2 px-4 text-slate-900"
        />
      </div>
      <button class="bg-slate-50 text-slate-950 py-2 px-4 rounded-md">I&apos;m
        Ready!</button>
    </form>
  </div>
</main>