<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="bg-slate-900 p-4">
      <div class="max-w-5xl mx-auto flex flex-row justify-between items-center">
        <a href="/"><p class="text-3xl font-bold text-slate-50">VIP Message
            Board</p></a>
        <div class="flex gap-4">
          {{#if user}}
            <a
              class="text-slate-900 bg-slate-100 py-2 px-6 rounded-md"
              href="/post/create"
            >Create Post</a>
            <a
              class="text-slate-50 border-slate-50 border-2 px-6 py-2 rounded-md"
              href="/logout"
            >Logout</a>
          {{else}}
            <a
              class="text-slate-900 bg-slate-100 py-2 px-6 rounded-md"
              href="/login"
            >Login</a>
            <a
              class="text-slate-50 border-slate-50 border-2 px-6 py-2 rounded-md"
              href="/signup"
            >Sign Up</a>

          {{/if}}
        </div>
      </div>
    </nav>
    {{{body}}}
  </body>
</html>